@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #f5d0fe;
}

h1 {
  padding: 20px;
  background-color: #c026d3;
  width: 100%;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
}

h2 {
  letter-spacing: 2px;
}

p {
  font-size: 1.1rem;
}

#results-container {
  background-color: #c026d3;
  border-radius: 5px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  padding: 20px;
  text-align: center;
  height: 250px;
  width: 300px;
  display: none;
  color: #fff;
}

#weather-input {
  font-size: 1.5rem;
  background: none;
  border: none;
  border-bottom: 1px solid #c026d3;
  color: #c026d3;
}

#weather-input:focus {
  outline: none;
}

.form-control {
  display: flex;
  gap: 10px;
  margin: 30px 0;
}

#search-btn {
  padding: 5px 20px;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: #c026d3;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}

#search-btn:hover {
  cursor: pointer;
  background-color: #f5d0fe;
  border: 1px solid #c026d3;
  color: #c026d3;
}
